<a href="https://colab.research.google.com/github/hirooutdoor/google_colab/blob/main/AI_Academy_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
### 下記の入力フィールドにプログラムを打ち込み、左の実行ボタンを押す事で書いたコードを実行できます。　###

years_list = [2017, 2018, 2019, 2020, 2021]
print(years_list[3])
print(years_list[4])

2020
2021

In [ ]:
name_list = {"hiro": 27, "kimi": 22, "yuki": 26}
name_list["taro"] = 27 
print(name_list)

{'hiro': 27, 'kimi': 22, 'yuki': 26, 'taro': 27}

In [ ]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(5,10):
    print(i)

5
6
7
8
9

In [ ]:
for index, name in enumerate(["apple", "banana", "melon"]):
    print(index, name)

0 apple
1 banana
2 melon

In [ ]:
#list関数とrange関数を組み合わせると、次のような1~100までの要素を持ったリストを簡潔に記述することも出来ます
print(list(range(101)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [ ]:
#辞書型のデータをループするには次のようにitems()を利用します
data = {"tani": 21, "kazu": 22, "python": 100}
for key, value in data.items():
     print("key: {}, value: {}".format(key, value))

key: tani, value: 21
key: kazu, value: 22
key: python, value: 100

In [ ]:
#リスト内包表記(List Comprehensions)は既存のリストから新しいリストを作るもの
result = [x**2 for x in range(1,11)]
print(result) # [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# 通常のループでは次のようになります。
result = []
for i in range(1,11):
    result.append(i**2)

print(result) # [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
for count in [3,2,1,"Go!"]:
  print(count)

counts = [3,2,1,"Go!"]
for count in counts: #:コロンを忘れずに、インデントは下げない
  print(count)

3
2
1
Go!
3
2
1
Go!

In [ ]:
even_lists = [] #まずは空のリスト作成
for i in range(1,101): #iというループ内変数は1~100までの範囲のリストから取り出したものとする
   if i % 2 == 0: #もしiが２で割り切れたら
     even_lists.append(i) #event_listsに追加していく
print(even_lists) #even_listsを出力

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [ ]:
even_lists = []
for i in range(1,201):
  if i % 2 == 0:
    even_lists.append(i)
print(even_lists)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]

## while文

In [ ]:
# nが10になるまで繰り返し
n = 0
while n < 10:
    print(n)
    n += 1 # +1するのを忘れずに。0が無限に繰り返されることになる

0
1
2
3
4
5
6
7
8
9

In [ ]:
# (1)
sum_d = 0
data = [20, 40, 60, 88]

# for文内で突然登場する変数dはループ内変数と言って、for文特有の変数です。
#（ループ内変数の変数名は自由に定義可能です。）
# リストdataの1つ1つの値をループ内変数dに格納します。
for d in data:
    sum_d += d # sum_d = sum_d + dを省略した書き方です。

print(sum_d) # 208が出力されます。20 + 40 + 60 + 88を足し合わせた数です。

208

先ほど書いたforのプログラムにelseを使うことも可能です。

**Pythonでは、ここで登場したfor文やWhile文にてelseを使うことが出来ます。** 

elseを記述すると、ループが終了するときにelseの中が処理されます。

上の(1)と(2)はelseを使っているかどうかの違いですが、出力結果は同じです。
上の(1)と(2)はelseを使っているかどうかの違いですが、出力結果は同じです。

In [ ]:
# for文はelseを使用することが出来ます。
sum_d = 0
data = [20, 40, 60, 88]

# (2)
for d in data:
    sum_d += d
# ループが終わったら1回処理したいものが処理出来ます。
else:
    print(sum_d) # 208

208

## breakとcontinue

- breakはある条件の場合に処理を終了させることができる
- continueでは、ある条件の時に処理をスキップさせる事ができる

In [ ]:
# breakにて処理を終了
for i in range(10):
    if i == 3:
        break
    print(i) # 0 1 2を出力

0
1
2

In [ ]:
# cotinue 1回スキップ
for i in range(10):
    if i == 3:
        continue
    print(i)

0
1
2
4
5
6
7
8
9